# Generated directories
obj32
obj64
publish
Makefile
util/Makefile
dat/Makefile
dat/*.lev
util/*.o
dat/data
dat/dungeon
dat/dungeon.pdf
dat/nhdat
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs
dat/x11tiles
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/tile.h
include/vis_tab.h
src/config.h-t
src/hack.h-t
src/monstr.c
src/tile.c
src/vis_tab.c
util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/dlb
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs
util/tilemap
util/tile2x11

