#textwindow {
  height: 10em;
  width: 60%;
  overflow-y: scroll;
}

#map {
  background-image: url('mapbg.png');
}

#popup {
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}

#gnomelikeBorderBox {
  border: 3px solid black;
  position: absolute;
}
