body {
  padding: 0;
  margin: 0;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table-cell;
}

#header ul li {
  display: inline;
}

#header ul li::after { content: ' | ' }
#header ul li:last-child::after { content: '' }

#tile-menu ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

#tile-menu ul li {
  display: inline-block;
  margin-left: 5px;
}

#tile-menu > ul > li > ul {
  display: none;
}

#tile-menu > ul > li:hover > ul {
  display: block;
  position: absolute; 
  background-color: #cfd4d0;
}

#tile-menu > ul > li > ul > li {
  display: block;
}

#tile-plinewin {
  display: table-cell;
  vertical-align: top;
  background-color: white;
  overflow-y: scroll;
}

#tile-plinecontent {
  height: 0;
}

#tile-plinewin p {
  margin: 0;
  padding: 0;
}

#tile-toppart {
  display: table;
  width: 100%;
  border: 1px solid black;
}

#header {
  display: table;
  width: 100%;
}

#textwindow {
  height: 10em;
  width: 60%;
  overflow-y: scroll;
}

#map {
  background-image: url('mapbg.png');
}

#popup {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}

#gnomelikeBorderBox {
  border: 3px solid black;
  position: absolute;
}


#tile-status {
  display: table-cell;
  vertical-align: top;
  width: 400px;
  background-color: #cfd4d0;
  text-align: center;
}

#tile-status h1 {
  margin: 0;
  padding: 0;
}

#tile-status h2 {
  margin: 0;
  padding: 0;
}

#tile-status ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#tile-status ul li {
  display: table-cell;
}
